# "$schema" = "https://raw.githubusercontent.com/JanDeDobbeleer/oh-my-posh/main/themes/schema.json"
version = 4
final_space = true

[palette]
directory = '#2f40c2'
directory-foreground = '#e5e6f2'
language = '#005b95'
language-foreground = '#e5eaf0'
git = '#006b1d'
git-foreground = '#e5ece6'
git-modified = '#a17a00'
git-diverged = '#8c0888'
git-ahead = '#8c0888'
git-behind = '#8c0888'
model = '#005b95'
model-foreground = '#e5eaf0'
context-green = '#006b1d'
context-yellow = '#a17a00'
context-orange = '#f55c1b'
context-foreground = '#e5e6f2'


[[blocks]]
type = 'prompt'
alignment = 'left'
newline = true

######## STARTING CAP ########

[[blocks.segments]]
type = "path"
style = "diamond"
leading_diamond = ''
trailing_diamond = ''
background = 'p:directory'
foreground = 'p:directory-foreground'
options.style = 'folder'

######### LANGUAGES #########

[[blocks.segments]]
type = 'go'
style = 'diamond'
leading_diamond = ''
trailing_diamond = ''
background = 'p:language'
foreground = 'p:language-foreground'
template = ' go {{ .Full }} '

[[blocks.segments]]
type = 'lua'
style = 'diamond'
leading_diamond = ''
trailing_diamond = ''
background = 'p:language'
foreground = 'p:language-foreground'
template = '  {{ .Full }} '

[[blocks.segments]]
type = 'zig'
style = 'diamond'
leading_diamond = ''
trailing_diamond = ''
background = 'p:language'
foreground = 'p:language-foreground'
template = '  {{ .Full }} '

[[blocks.segments]]
type = 'rust'
style = 'diamond'
leading_diamond = ''
trailing_diamond = ''
background = 'p:language'
foreground = 'p:language-foreground'
template = '  {{ .Full }} '

# javascript: deno, svelte, react, node
# using shell function set_poshcontext()
[[blocks.segments]]
type = 'text'
style = 'diamond'
leading_diamond = ''
trailing_diamond = ''
background = 'p:language'
foreground = 'p:language-foreground'
template = ' {{ .Env.JS_SEGMENT }} '

# python: icon by files, version if in venv
# using shell function set_poshcontext()
[[blocks.segments]]
type = 'text'
style = 'diamond'
leading_diamond = ''
trailing_diamond = ''
background = 'p:language'
foreground = 'p:language-foreground'
template = ' {{ .Env.PYTHON_SEGMENT }} '

######### DOCKER #########

[[blocks.segments]]
type = 'docker'
style = 'diamond'
leading_diamond = ''
trailing_diamond = ''
background = 'p:language'
foreground = 'p:language-foreground'
template = '   '
options = { display_mode = 'files' }

######### GIT #########

[[blocks.segments]]
type = 'git'
style = 'diamond'
leading_diamond = ''
trailing_diamond = ''
background = 'p:git'
foreground = 'p:git-foreground'
template = ' {{ if .UpstreamURL }}{{ url .UpstreamIcon .UpstreamURL }} {{ end }}{{ .HEAD }}{{ if .Working.Changed }} 󱩽{{ end }}{{ if gt .Ahead 0 }} {{ .Ahead }}{{ end }}{{ if gt .Behind 0 }} {{ .Behind }}{{ end }}{{ if and (not .Working.Changed) (eq .Ahead 0) (eq .Behind 0) }} {{ end }} '
background_templates = [
  '{{ if or .Working.Changed .Staging.Changed }}p:git-modified{{ end }}',
  '{{ if or (gt .Ahead 0) (gt .Behind 0) }}p:git-diverged{{ end }}',
]
options = { branch_template = '{{ trunc 25 .Branch }}', fetch_status = true, fetch_upstream_icon = true }

######### CLAUDE MODEL #########

[[blocks.segments]]
type = "claude"
style = "diamond"
leading_diamond = ''
trailing_diamond = ''
background = 'p:model'
foreground = 'p:model-foreground'
template = " {{ .Model.DisplayName }} "

######### CLAUDE CONTEXT #########

[[blocks.segments]]
type = "claude"
style = "diamond"
leading_diamond = ''
trailing_diamond = ''
background = 'p:context-green'
foreground = 'p:context-foreground'
template = " {{ .TokenUsagePercent.String }}% "
background_templates = [
  '{{ if lt .TokenUsagePercent.Value 50.0 }}p:context-green{{ end }}',
  '{{ if and (ge .TokenUsagePercent.Value 50.0) (lt .TokenUsagePercent.Value 75.0) }}p:context-yellow{{ end }}',
  '{{ if ge .TokenUsagePercent.Value 75.0 }}p:context-orange{{ end }}',
]
