# "$schema" = "https://raw.githubusercontent.com/JanDeDobbeleer/oh-my-posh/main/themes/schema.json"
version = 4
final_space = true

[palette]
shell = '#005b95'
shell-foreground = '#e5eaf0'
directory = '#2f40c2'
directory-foreground = '#e5e6f2'
error = '#a90000'
error-foreground = '#f4e4e5'
exectime-foreground = '#e5eaf0'
git = '#006b1d'
git-ahead = '#8c0888'
git-behind = '#8c0888'
git-diverged = '#8c0888'
git-foreground = '#e5ece6'
git-modified = '#a17a00'
jobs = '#006b1d'
jobs-foreground = '#e5ece6'
language = '#005b95'
language-foreground = '#e5eaf0'
prompt = '#f55c1b'
root = '#a90000'
root-foreground = '#f4e4e5'
secondary = '#a90000'
secondary-accent = '#a17a00'

status = '#005b95'
status-error = '#a90000'
status-foreground = '#e5eaf0'

# [transient_prompt]
#   template = "<p:teal,transparent></><p:on_teal,p:teal>   </><p:teal,transparent></> "
#   foreground = "p:teal"
#   background = "transparent"
#   newline = true

[secondary_prompt]
template = '<p:secondary,transparent></><,p:secondary-accent> > </><p:secondary-accent,transparent></> '
foreground = 'p:secondary'
background = 'transparent'

[[blocks]]
type = 'prompt'
alignment = 'left'
newline = true

######### SHELL #########

[[blocks.segments]]
type = 'shell'
style = 'diamond'
leading_diamond = ''
trailing_diamond = ''
foreground = 'p:shell-foreground'
templates_logic = 'first_match'
background = 'p:shell'
templates = [
  "{{ if eq .Name 'zsh' }}  {{ end }}",
  "{{ if eq .Name 'bash' }}  {{ end }}",
  "{{ if eq .Name 'fish' }}   {{ end }}",
  "{{ if eq .Name 'nu' }} 󰫻󰬂 {{ end }}",
]

[[blocks.segments]]
leading_diamond = ''
trailing_diamond = ''
template = '  '
foreground = 'p:root-foreground'
background = 'p:root'
type = 'root'
style = 'diamond'

[[blocks.segments]]
leading_diamond = ''
trailing_diamond = ''
template = ' {{ .Env.JOBCOUNT }} '
foreground = 'p:jobs-foreground'
background = 'p:jobs'
type = 'text'
style = 'diamond'

[[blocks.segments]]
leading_diamond = ''
trailing_diamond = ''
template = ' {{ .Env.DIRPATH }} '
foreground = 'p:directory-foreground'
background = 'p:directory'
type = 'text'
style = 'diamond'

[[blocks.segments]]
leading_diamond = ''
trailing_diamond = ''
template = '  {{ .Full }} '
foreground = 'p:language-foreground'
background = 'p:language'
type = 'python'
style = 'diamond'

[[blocks.segments]]
leading_diamond = ''
trailing_diamond = ''
template = ' go {{ .Full }} '
foreground = 'p:language-foreground'
background = 'p:language'
type = 'go'
style = 'diamond'

[[blocks.segments]]
leading_diamond = ''
trailing_diamond = ''
template = '  {{ .Full }} '
foreground = 'p:language-foreground'
background = 'p:language'
type = 'lua'
style = 'diamond'

[[blocks.segments]]
leading_diamond = ''
trailing_diamond = ''
template = '  {{ .Full }} '
foreground = 'p:language-foreground'
background = 'p:language'
type = 'zig'
style = 'diamond'

[[blocks.segments]]
leading_diamond = ''
trailing_diamond = ''
template = '  {{ .Full }} '
foreground = 'p:language-foreground'
background = 'p:language'
type = 'rust'
style = 'diamond'

[[blocks.segments]]
leading_diamond = ''
trailing_diamond = ''
template = ' {{ .Env.JSENV }} '
foreground = 'p:language-foreground'
background = 'p:language'
type = 'text'
style = 'diamond'

[[blocks.segments]]
leading_diamond = ''
trailing_diamond = ''
template = ' {{ if .UpstreamURL }}{{ url .UpstreamIcon .UpstreamURL }} {{ end }}{{ .HEAD }}{{ if .Working.Changed }} 󱩽{{ end }}{{ if gt .Ahead 0 }} {{ .Ahead }}{{ end }}{{ if gt .Behind 0 }} {{ .Behind }}{{ end }}{{ if and (not .Working.Changed) (eq .Ahead 0) (eq .Behind 0) }} {{ end }} '
foreground = 'p:git-foreground'
background = 'p:git'
type = 'git'
style = 'diamond'
background_templates = [
  '{{ if or .Working.Changed .Staging.Changed }}p:git-modified{{ end }}',
  '{{ if or (gt .Ahead 0) (gt .Behind 0) }}p:git-diverged{{ end }}',
]

[blocks.segments.options]
branch_template = '{{ trunc 25 .Branch }}'
fetch_status = true
fetch_upstream_icon = true

[[blocks.segments]]
template = '    '
foreground = 'p:status-foreground'
powerline_symbol = ''
background = 'p:status'
type = 'status'
style = 'accordion'
leading_powerline_symbol = '<transparent,background></>'
background_templates = ['{{ if gt .Code 0 }}p:status-error{{ end }}']

[blocks.segments.options]
always_enabled = true

[[blocks]]
type = 'prompt'
alignment = 'right'

[[blocks.segments]]
template = '󰄉 {{ .FormattedMs }} '
foreground = 'p:exectime-foreground'
type = 'executiontime'
style = 'plain'

[blocks.segments.options]
threshold = 1000

[[blocks.segments]]
leading_diamond = ''
trailing_diamond = ''
template = '{{if .Segments.Status.Error }}{{ .Segments.Status.String }}{{ end }}'
foreground = 'p:error-foreground'
background = 'p:error'
type = 'text'
style = 'diamond'

[[blocks]]
type = 'prompt'
alignment = 'left'
newline = true

[[blocks.segments]]
template = '{{ if .Env.SHLVL_RELATIVE }}{{ repeat (.Env.SHLVL_RELATIVE | int) "❯" }}{{ else }}{{ repeat .SHLVL "❯" }}{{ end }}'
foreground = 'p:prompt'
background = 'transparent'
type = 'text'
style = 'plain'
